body{
    background-image: url('../images/bg_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    background-color:rgb(255, 180, 40);
}
.selection{
    font-size: 17px;
}
#logo{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#text_color{
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}